html,body{     
	background-color: #fff;
    font-family: -apple-system, '.SFNSDisplay-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
	margin-top:1em;
  -webkit-text-size-adjust:none;  min-width: 200px;
  max-width: 1024px;
  margin: 0 auto; padding: 1rem;
  line-height: 1.5rem;
}
h1,h2,h3,h4,h5,h6{font-family: -apple-system, '.SFNSDisplay-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
text-rendering:optimizelegibility;margin-bottom:1em;font-weight:bold; line-height: 1.8rem;

}
h1,h2{position:relative;padding-top:1rem;padding-bottom:0.2rem;margin-bottom:1rem;background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x;}
h2{padding-top:0.8rem;padding-bottom:0.2rem;}
h1{ font-size: 1.6rem;}
h2{ font-size: 1.4rem;}
h3{ font-size: 1.2rem;}
h4{ font-size: 1.1rem;}
h5{ font-size: 1.0rem; color:#555;}
h6{ font-size: 0.9rem;}
h5:before {
	font: normal normal normal 1.0rem FontAwesome;
	content:"\f017";
	margin: 0 0.5em 0 0;
}

table{border-collapse:collapse;border-spacing:0;
  margin-top: 0.8rem;
  margin-bottom: 1.4rem;
}
tr{  background-color: #fff;
  border-top: 1px solid #ccc;}
th,td{padding: 5px 14px;
  border: 1px solid #ddd;}

blockquote{font-style:italic;font-size:1.1em;line-height:1.5em;padding-left:1em; border-left:4px solid #D5D5D5;    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5rem; }

a{color:#1863a1}

pre,code,p code,li code{font-family:Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace}

pre{-webkit-border-radius:0.4em;-moz-border-radius:0.4em;-ms-border-radius:0.4em;-o-border-radius:0.4em;border-radius:0.4em;border:1px solid #e7dec3;line-height:1.45em;font-size:0.9rem;margin-bottom:2.1em;padding:.8em 1em;color:#586e75;overflow:auto; background-color:#fdf6e3;}

p code,li code{display:inline-block;white-space:no-wrap;background:#fff;font-size:0.9rem;line-height:1.5em;color:#555;border:1px solid #ddd;-webkit-border-radius:0.4em;-moz-border-radius:0.4em;-ms-border-radius:0.4em;-o-border-radius:0.4em;border-radius:0.4em;padding:0 .3em;margin:-1px 4px;}
p pre code,li pre code{font-size:1em !important;background:none;border:none}

.microblog_post img{max-width:100%;-webkit-border-radius:0.3em;-moz-border-radius:0.3em;-ms-border-radius:0.3em;-o-border-radius:0.3em;border-radius:0.3em;-webkit-box-shadow:rgba(0,0,0,0.15) 0 1px 4px;-moz-box-shadow:rgba(0,0,0,0.15) 0 1px 4px;box-shadow:rgba(0,0,0,0.15) 0 1px 4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:#fff 0.5em solid}


hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}


/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fdf6e3;
  color: #657b83;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.diff .hljs-header,
.hljs-doctype,
.hljs-pi,
.lisp .hljs-string {
  color: #93a1a1;
}

/* Solarized Green */
.hljs-keyword,
.hljs-winutils,
.method,
.hljs-addition,
.css .hljs-tag,
.hljs-request,
.hljs-status,
.nginx .hljs-title {
  color: #859900;
}

/* Solarized Cyan */
.hljs-number,
.hljs-command,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-rule .hljs-value,
.hljs-doctag,
.tex .hljs-formula,
.hljs-regexp,
.hljs-hexcolor,
.hljs-link_url {
  color: #2aa198;
}

/* Solarized Blue */
.hljs-title,
.hljs-localvars,
.hljs-chunk,
.hljs-decorator,
.hljs-built_in,
.hljs-identifier,
.vhdl .hljs-literal,
.hljs-id,
.css .hljs-function,
.hljs-name {
  color: #268bd2;
}

/* Solarized Yellow */
.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.smalltalk .hljs-number,
.hljs-constant,
.hljs-class .hljs-title,
.hljs-parent,
.hljs-type,
.hljs-link_reference {
  color: #b58900;
}

/* Solarized Orange */
.hljs-preprocessor,
.hljs-preprocessor .hljs-keyword,
.hljs-pragma,
.hljs-shebang,
.hljs-symbol,
.hljs-symbol .hljs-string,
.diff .hljs-change,
.hljs-special,
.hljs-attr_selector,
.hljs-subst,
.hljs-cdata,
.css .hljs-pseudo,
.hljs-header {
  color: #cb4b16;
}

/* Solarized Red */
.hljs-deletion,
.hljs-important {
  color: #dc322f;
}

/* Solarized Violet */
.hljs-link_label {
  color: #6c71c4;
}

.tex .hljs-formula {
  background: #eee8d5;
}

#header {
	height:300px;
	background-image:url(images/header.jpg);
	background-position:0 -300px;
	background-repeat:no-repeat;
	background-size:cover;
	margin-bottom:1em;
	min-width:900px;
}
#page {
	width:1024px;
	margin:0 auto;
}
#sidebar {
    font-family: "Courier New";
    font-size: 2em;
    font-weight: 700;
    text-align: left;
    background-color: #fff;
    margin-bottom: 1em;
    padding-bottom: .125em;
	width:300px;
	float:right;
}
img#logo {
}
#links ul {
	text-align:left;
    font-size: 17px;
    width: 300px;
    list-style: none;
}
#links a {
    text-decoration: none;
    padding: 0.25em;
	color: #000;
}
#links a:hover {
	color: #333;
	border-color: #333;
}
#links li {
    margin-right: 15px;
	color: #000;
	margin-bottom:.1em;
}
.microblog_title {
	font-size:18px;
}
.microblog_timeline {
	width: 300px;
}
.microblog_post {
    font-family: -apple-system, '.SFNSDisplay-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.55em;
	text-align:left;
    font-size: 18px;
	font-weight: 200;
    text-overflow:hidden;
	margin-bottom:1em;
}
.microblog_post img
{
	width:300px;
	height:300px;
}
.microblog_time {
    display:none;
}
.microblog_more {
    font-family: -apple-system, '.SFNSDisplay-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.55em;
	text-align:left;
    font-size: 14px;
	font-weight: 200;
    text-overflow:hidden;
}
#sidebarFoot {
    color: #bbb;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 40;
    line-height: 2em;
	display:block;
}
#content {
    width: 680px;
    float:left;
	margin-right:1em;
}

#posts {

}
#posts h1 {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: .25em;
}
#posts h2 {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: .25em;
}
#posts p,
ul {
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.75em;
}
#twitter {
    width: 230px;
    float: right;
}
.date {
    color: #999;
    font-size: .8em;
}
.post {
    border-bottom: 1px solid grey;
    color: #000;
    font-size: 15px;
    margin-bottom: 1em;
    padding-bottom: 1em;
}
#twitter h2 {
    font-size: 19px;
    font-weight: 700;
    padding-bottom: .25em;
    text-transform: uppercase;
}
.postTitle {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: .25em;
}
.postTitle a {
    color: #000!important;
    text-decoration: none;
}
.postTitle a:hover {
    color: #253253;
    text-decoration: underline;
}
#copyright {
    clear: both;
    color: #555;
    font-size: 9pt;
}
.quote,
blockquote {
    border-left: solid 1px #555;
    color: #444;
    margin: 1em;
    padding: 5px 5px 5px 5px;
	background-color: #eee; 
}
.main a {
    color: #253253;
    text-decoration: solid;
}
strong {
    font-weight: 700;
}
em {
    font-style: italic !important;
}
abbr {
    border-bottom: 1px dashed black;
}
.post p {
    line-height: 1.55em;
    margin-bottom: 1em;
}
.post h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}
.post h2 {
    font-size: 1.25em;
    margin-bottom: 1em;
}
.microblog_post a,
.post a,
#posts a,
#copyright a {
    color: #178bfb;
}
.microblog_post a:hover,
.post a:hover,
#posts a:hover {
    text-decoration: underline;
	color: #1a6cba;
}
.post .date {
    margin-bottom: 1em;
}
.post img {
    display: block;
    margin: 0 auto;
}
.archiveMonthEntry {
    padding-bottom: 1em;
}
.archiveMonthHeader { 
	font-weight: bold;
}
.archiveEntry {
    padding-bottom: .1em;
}
.post img {
    max-width: 690px;
    height: auto;
}

#post:after {
	font: normal normal normal 1.0rem FontAwesome;
	content:"\f11c";
	margin: 0 0.5em 0 0;
}

code {
    font-family: "Courier New";
}
ol,
ul {
    padding: 1.5em;
    line-height: 1.25em;
}
div.header {
    display: none;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}